body {
    padding: 0;
    margin: 0;
    background-color: rgb(34, 34, 34);
}

.header-div {
    margin-top: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(51, 51, 51);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.header-div h1 {
    position: relative;
    text-align: center;
    padding: 15px;
    margin: 0;
}
